#haet_mail_form .wp-picker-container{
    line-height: 27px;
}

#haet_mail_form .wp-color-result{
    margin-bottom: 0;
}

#haet_mail_form .postbox .hndle,
.haet-mail-send-test .hndle{
    padding-left:10px;
    cursor: text;
}

#haet_mail_form .form-table th,
#haet_mail_form .form-table td {
    /*padding-top:5px;
    padding-bottom:5px;*/
}

.haet-mail-send-test{
    max-width: 800px;
}

.haet-mail-dialog{
    display: none;
}