/* this stylesheet will be converted to inline CSS */
body{
    background-color:###background###;
    margin:0; 
    padding:0;
}

.header,
.title,
.subtitle,
.footer-text {
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  font-size:        ###headerfontsize###px;
  font-weight:      ###headerbold###;
  font-style:       ###headeritalic###;
  color:            ###headercolor###;
  background:       ###headerbackground###;
  font-family:      ###headerfont###;
  text-align:       ###headeralign###;
  padding:          ###headerpaddingtop###px ###headerpaddingright###px ###headerpaddingbottom###px ###headerpaddingleft###px;
}

.header-image{
    max-width: 600px;
    height:auto;
}

.footer-text {
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
  background: ###footerbackground###;
}
.footer-text a {
  color: #aaaaaa;
}

.container {
  width: 600px;
  max-width: 600px;
}

.container-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.content {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: ###contentbackground###;
}

code {
  background-color: #eee;
  padding: 0 4px;
  font-family: Courier, monospace;
  font-size: 12px;
}

hr {
  border: 0;
  border-bottom: 1px solid #cccccc;
}

.hr {
  height: 1px;
  border-bottom: 1px solid #cccccc;
}

h1,h2,h3,h4 {
  font-size:        ###headlinefontsize###px;
  font-weight:      ###headlinebold###;
  font-style:       ###headlineitalic###;
  color:            ###headlinecolor###;
  font-family:      ###headlinefont###;
  text-align:       ###headlinealign###;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #2469A0;
}
.subtitle span {
  font-weight: 400;
  color: #999999;
}

.body-text {
  font-family:      ###textfont###;
  font-size:        ###textfontsize###px;
  text-align:       ###textalign###;
  color:            ###textcolor###;
  font-weight:      ###textbold###;
  font-style:       ###textitalic###;
  line-height:      1.5;
}
